Flask
Flask-Cors
Flask-RESTful
flax
git+https://github.com/huggingface/transformers.git@e7e6d1818a3e8d51939535ebcef687770a0304fe
git+https://github.com/patil-suraj/vqgan-jax.git@10ef240f8ace869e437f3c32d14898f61512db12
git+https://github.com/borisdayma/dalle-mini.git@d2be512d4a6a9cda2d63ba04afc33038f98f705f
tqdm